.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.timer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.field {
  text-align: center;
}
.value {
  font-size: 24px;
  font-weight: bold;
}
button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
